<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <header>
        <nav>
            
            <a href="/"><img src="../assets/img/logo.png" class="logo" /></a>
            <div>
                <input class="search-bar" type="search" placeholder="Search" />
            </div>
            <div class="btn-left">
                <button onclick="location.href='#'" class="nav-btn">Logout</button>
                <a href="wishlist.html"><span class="material-icons nav-heart-icon">
                    favorite_border</a>
                <span class="nav-cart-icon">
                    <a href="myCart.html"><span class="material-icons">
                        shopping_cart</a>
                    </span>
                </span>
                <span class="material-icons nav-hamburger-icon">
                    menu
                </span>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="container-wrapper">
            <h2 class="login-page">Login</h2>

            <form>
                <div class="form-info">
                    <label class="login-text" for="email">Email address:</label>
                    <input class="login-box" type="text" value="sush@neoG">
                    <label class="login-text" for="password">Password:</label>
                    <input class="login-box" type="password" value="sushmita">
                </div>
                
                <div class="pwd-remember">
                    <div class="rem-container">
                        <input class="login-checkbox" type="checkbox">
                        <span class="login-remember">Remember me</span>
                    </div>
                    
                    <span class="login-forget">Forget your password?</span>
                </div>
                <button class="login-btn">Login</button>
                <a href="signup.html" class="login-account">Create New Account</a>
                
            </form> 
        </div>

        

    </div>
</body>
</html>