<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/css/product1.css">
</head>
<body>
    
    <header>
        <nav>
            <a href="/"><img src="../assets/img/logo.png" class="logo" /></a>
            <div>
                <input class="search-bar" type="search" placeholder="Search" />
            </div>
            <div class="btn-left">
                <button onclick="location.href='login.html'" class="nav-btn">Login</button>
                <a href="wishlist.html"><span class="material-icons nav-heart-icon">
                    favorite_border</a>
                <span class="nav-cart-icon">
                    <a href="myCart.html"><span class="material-icons">
                        shopping_cart</a>
                    </span>Cart
                </span>
                <span class="material-icons nav-hamburger-icon">
                    menu
                </span>
            </div>
        </nav>
    </header>

    <main class="wrapper">
        <div class="sidebar">
            <div class="sidebar-content-1 display-space-between">
                <h3 class="content-1a">Filters</h3>
                <h5 class="clear-content">Clear</h5>
            </div>

            <div class="sidebar-content-2 display-column">
                <h3 class="content-1a">Price</h3>
                <div class="sidebar-content-2a display-space-between">
                    <span class="range-input">50</span>
                    <span class="range-input">150</span>
                    <span class="range-input">200</span>
                </div>
                <div class="sidebar-content-2b">
                    <input class="range" type="range" />
                </div>
            </div>

            <div class="sidebar-content-2">
                <h3 class="content-1a">Category</h3>
                <div class="sidebar-content-3a">
                    <div class="checkbox-content">
                        <input type="checkbox" class="checkbox-type">
                        <h3 class="content-3a">Men Clothing</h3>
                    </div>
                    <div class="checkbox-content">
                        <input type="checkbox" class="checkbox-type">
                        <h3 class="content-3a">Men Clothing</h3>
                    </div>
                </div>
            </div>

            <div class="sidebar-content-2">
                <h3 class="content-1a">Rating</h3>
                <div class="sidebar-content-4a">
                    <div class="radio-content">
                        <input type="radio" />
                        <h3 class="content-3a">4 Stars & above</h3>
                    </div>
                    <div class="radio-content">
                        <input type="radio" />
                        <h3 class="content-3a">3 Stars & above</h3>
                    </div>
                    <div class="radio-content">
                        <input type="radio" />
                        <h3 class="content-3a">2 Stars & above</h3>
                    </div>
                    <div class="radio-content">
                        <input type="radio" />
                        <h3 class="content-3a">1 Stars & above</h3>
                    </div>
               </div>
            </div>

            <div class="sidebar-content-2">
                <h3 class="content-1a">Sort by</h3>
                <div class="sidebar-content-4a">
                    <div class="radio-content">
                        <input type="radio" />
                        <h3 class="content-3a">Price - Low to High</h3>
                    </div>
                    <div class="radio-content">
                        <input type="radio" />
                        <h3 class="content-3a">Price - High to Low</h3>
                    </div>
               </div>
            </div>
            
        </div>
        <div class="container-wrapper">
            <div class="result-wrapper">
                <h3 class="show-result-1">Showing all products</h3>
                <span class="show-result-2">(showing 20 products)</span>
            </div>
            <div class="container">
                
                <div class="card-container">
                    <div class="card-1">
                        <img class="card-img" src="/assets/img/card-img.jpg" />
                        <div class="card-container-content">
                            <h5 class="card-content">Men premium Jacket</h5>
                            <div class="card-pricing"> 
                                <span class="material-icons rupee-icon">
                                    currency_rupee
                                </span>
                                <h3 class="card-price">2000</h3>
                            </div>
                            <button class="card-btn">Go to cart</button>
                        </div>
                        
                    </div>
                   
                    <div class="fav-back"></div>
                    <span class="material-icons card-fav fav-red">
                        favorite
                    </span>
                    
                    
                    
                </div>
                
                <div class="card-container">
                    <div class="card-1">
                        <img class="card-img" src="/assets/img/card-img.jpg" />
                        <div class="card-container-content">
                            <h5 class="card-content">Men premium Jacket</h5>
                            <div class="card-pricing"> 
                                <span class="material-icons rupee-icon">
                                    currency_rupee
                                </span>
                                <h3 class="card-price">2000</h3>
                            </div>
                            <button class="card-btn">Go to cart</button>
                        </div>
                        
                    </div>
                    <div class="fav-back"></div>
                    <span class="material-icons card-fav">
                        favorite_border
                    </span>
                </div>
    
                <div class="card-container">
                    <div class="card-1">
                        <img class="card-img" src="/assets/img/card-img.jpg" />
                        <div class="card-container-content">
                            <h5 class="card-content">Men premium Jacket</h5>
                            <div class="card-pricing"> 
                                <span class="material-icons rupee-icon">
                                    currency_rupee
                                </span>
                                <h3 class="card-price">2000</h3>
                            </div>
                            <button class="card-btn">Go to cart</button>
                        </div>
                        
                    </div>
                    <div class="fav-back"></div>
                    <span class="material-icons card-fav fav-red">
                        favorite
                    </span>
                </div>
    
                <div class="card-container">
                    <div class="card-1">
                        <img class="card-img" src="/assets/img/card-img.jpg" />
                        <div class="card-container-content">
                            <h5 class="card-content">Men premium Jacket</h5>
                            <div class="card-pricing"> 
                                <span class="material-icons rupee-icon">
                                    currency_rupee
                                </span>
                                <h3 class="card-price">2000</h3>
                            </div>
                            <button class="card-btn">Go to cart</button>
                        </div>
                        
                    </div>
                    <div class="fav-back"></div>
                    <span class="material-icons card-fav">
                        favorite_border
                    </span>
                </div>
    
                <div class="card-container">
                    <div class="card-1">
                        <img class="card-img" src="/assets/img/card-img.jpg" />
                        <div class="card-container-content">
                            <h5 class="card-content">Men premium Jacket</h5>
                            <div class="card-pricing"> 
                                <span class="material-icons rupee-icon">
                                    currency_rupee
                                </span>
                                <h3 class="card-price">2000</h3>
                            </div>
                            <button class="card-btn">Go to cart</button>
                        </div>
                        
                    </div>
                    <div class="fav-back"></div>
                    <span class="material-icons card-fav fav-red">
                        favorite
                    </span>
                </div>
    
                <div class="card-container">
                    <div class="card-1">
                        <img class="card-img" src="/assets/img/card-img.jpg" />
                        <div class="card-container-content">
                            <h5 class="card-content">Men premium Jacket</h5>
                            <div class="card-pricing"> 
                                <span class="material-icons rupee-icon">
                                    currency_rupee
                                </span>
                                <h3 class="card-price">2000</h3>
                            </div>
                            <button class="card-btn">Go to cart</button>
                        </div>
                        
                    </div>
                    <div class="fav-back"></div>
                    <span class="material-icons card-fav">
                        favorite_border
                    </span>
                </div>
    
                <div class="card-container">
                    <div class="card-1">
                        <img class="card-img" src="/assets/img/card-img.jpg" />
                        <div class="card-container-content">
                            <h5 class="card-content">Men premium Jacket</h5>
                            <div class="card-pricing"> 
                                <span class="material-icons rupee-icon">
                                    currency_rupee
                                </span>
                                <h3 class="card-price">2000</h3>
                            </div>
                            <button class="card-btn">Go to cart</button>
                        </div>
                        
                    </div>
                    <div class="fav-back"></div>
                    <span class="material-icons card-fav fav-red">
                        favorite
                    </span>
                </div>
    
                <div class="card-container">
                    <div class="card-1">
                        <img class="card-img" src="/assets/img/card-img.jpg" />
                        <div class="card-container-content">
                            <h5 class="card-content">Men premium Jacket</h5>
                            <div class="card-pricing"> 
                                <span class="material-icons rupee-icon">
                                    currency_rupee
                                </span>
                                <h3 class="card-price">2000</h3>
                            </div>
                            <button class="card-btn">Go to cart</button>
                        </div>
                        
                    </div>
                    <div class="fav-back"></div>
                    <span class="material-icons card-fav">
                        favorite_border
                    </span>
                </div>
    
                <div class="card-container">
                    <div class="card-1">
                        <img class="card-img" src="/assets/img/card-img.jpg" />
                        <div class="card-container-content">
                            <h5 class="card-content">Men premium Jacket</h5>
                            <div class="card-pricing"> 
                                <span class="material-icons rupee-icon">
                                    currency_rupee
                                </span>
                                <h3 class="card-price">2000</h3>
                            </div>
                            <button class="card-btn">Go to cart</button>
                        </div>
                        
                    </div>
                    <div class="fav-back"></div>
                    <span class="material-icons card-fav fav-red">
                        favorite
                    </span>
                </div>
    
                <div class="card-container">
                    <div class="card-1">
                        <img class="card-img" src="/assets/img/card-img.jpg" />
                        <div class="card-container-content">
                            <h5 class="card-content">Men premium Jacket</h5>
                            <div class="card-pricing"> 
                                <span class="material-icons rupee-icon">
                                    currency_rupee
                                </span>
                                <h3 class="card-price">2000</h3>
                            </div>
                            <button class="card-btn">Go to cart</button>
                        </div>
                    </div>
                    <div class="fav-back"></div>
                    <span class="material-icons card-fav">
                        favorite_border
                    </span>
                    
                </div>
    
                <div class="card-container">
                    <div class="card-1">
                        <img class="card-img" src="/assets/img/card-img.jpg" />
                        <div class="card-container-content">
                            <h5 class="card-content">Men premium Jacket</h5>
                            <div class="card-pricing"> 
                                <span class="material-icons rupee-icon">
                                    currency_rupee
                                </span>
                                <h3 class="card-price">2000</h3>
                            </div>
                            <button class="card-btn">Go to cart</button>
                        </div>
                        
                    </div>
                    <div class="fav-back"></div>
                    <span class="material-icons card-fav fav-red">
                        favorite
                    </span>
                </div>
            </div>
                
        </div>
        
    </main>

</body>
</html>