<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/wishlist.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
        <nav>
            
            <a href="index.html"><img src="../assets/img/logo.png" class="logo" /></a>
            <div>
                <input class="search-bar" type="search" placeholder="Search" />
            </div>
            <div class="btn-left">
                <button onclick="location.href='login.html'" class="nav-btn">Login</button>
                <a href="wishlist.html"><span class="material-icons nav-heart-icon">
                    favorite_border</a>
                <span class="nav-cart-icon">
                    <a href="myCart.html"><span class="material-icons">
                        shopping_cart</a>
                    </span>Cart
                </span>
                <!-- <span class="material-icons nav-hamburger-icon">
                    menu
                </span> -->
            </div>
        </nav>
    </header>

    <div class="container-wrapper">
        
        <h3 class="show-result-1">My Wishlist</h3>
        <div class="container">
            
            <div class="card-container">
                <div class="card-1">
                    <img class="card-img" src="/assets/img/card-img.jpg" />
                    <div class="card-container-content">
                        <h5 class="card-content">Men premium Jacket</h5>
                        <div class="card-pricing"> 
                            <span class="material-icons rupee-icon">
                                currency_rupee
                            </span>
                            <h3 class="card-price">2000</h3>
                        </div>
                        <button class="card-btn">Move to cart</button>
                    </div>
                    
                </div>
                <div class="fav-back"></div>
                <span class="material-icons card-fav">
                    favorite_border
                </span>
            </div>

            <div class="card-container">
                <div class="card-1">
                    <img class="card-img" src="/assets/img/card-img.jpg" />
                    <div class="card-container-content">
                        <h5 class="card-content">Men premium Jacket</h5>
                        <div class="card-pricing"> 
                            <span class="material-icons rupee-icon">
                                currency_rupee
                            </span>
                            <h3 class="card-price">2000</h3>
                        </div>
                        <button class="card-btn">Move to cart</button>
                    </div>
                    
                </div>
               
                <div class="fav-back"></div>
                <span class="material-icons card-fav fav-red">
                    favorite
                </span>
                
                
                
            </div>
            
            <div class="card-container">
                <div class="card-1">
                    <img class="card-img" src="/assets/img/card-img.jpg" />
                    <div class="card-container-content">
                        <h5 class="card-content">Men premium Jacket</h5>
                        <div class="card-pricing"> 
                            <span class="material-icons rupee-icon">
                                currency_rupee
                            </span>
                            <h3 class="card-price">2000</h3>
                        </div>
                        <button class="card-btn">Move to cart</button>
                    </div>
                    
                </div>
                <div class="fav-back"></div>
                <span class="material-icons card-fav">
                    favorite_border
                </span>
            </div>

            <div class="card-container">
                <div class="card-1">
                    <img class="card-img" src="/assets/img/card-img.jpg" />
                    <div class="card-container-content">
                        <h5 class="card-content">Men premium Jacket</h5>
                        <div class="card-pricing"> 
                            <span class="material-icons rupee-icon">
                                currency_rupee
                            </span>
                            <h3 class="card-price">2000</h3>
                        </div>
                        <button class="card-btn">Move to cart</button>
                    </div>
                    
                </div>
                <div class="fav-back"></div>
                <span class="material-icons card-fav fav-red">
                    favorite
                </span>
            </div>

            <div class="card-container">
                <div class="card-1">
                    <img class="card-img" src="/assets/img/card-img.jpg" />
                    <div class="card-container-content">
                        <h5 class="card-content">Men premium Jacket</h5>
                        <div class="card-pricing"> 
                            <span class="material-icons rupee-icon">
                                currency_rupee
                            </span>
                            <h3 class="card-price">2000</h3>
                        </div>
                        <button class="card-btn">Move to cart</button>
                    </div>
                    
                </div>
                <div class="fav-back"></div>
                <span class="material-icons card-fav">
                    favorite_border
                </span>
            </div>

            <div class="card-container">
                <div class="card-1">
                    <img class="card-img" src="/assets/img/card-img.jpg" />
                    <div class="card-container-content">
                        <h5 class="card-content">Men premium Jacket</h5>
                        <div class="card-pricing"> 
                            <span class="material-icons rupee-icon">
                                currency_rupee
                            </span>
                            <h3 class="card-price">2000</h3>
                        </div>
                        <button class="card-btn">Move to cart</button>
                    </div>
                    
                </div>
                <div class="fav-back"></div>
                <span class="material-icons card-fav fav-red">
                    favorite
                </span>
            </div>

            <div class="card-container">
                <div class="card-1">
                    <img class="card-img" src="/assets/img/card-img.jpg" />
                    <div class="card-container-content">
                        <h5 class="card-content">Men premium Jacket</h5>
                        <div class="card-pricing"> 
                            <span class="material-icons rupee-icon">
                                currency_rupee
                            </span>
                            <h3 class="card-price">2000</h3>
                        </div>
                        <button class="card-btn">Move to cart</button>
                    </div>
                    
                </div>
                <div class="fav-back"></div>
                <span class="material-icons card-fav">
                    favorite_border
                </span>
            </div>

            <div class="card-container">
                <div class="card-1">
                    <img class="card-img" src="/assets/img/card-img.jpg" />
                    <div class="card-container-content">
                        <h5 class="card-content">Men premium Jacket</h5>
                        <div class="card-pricing"> 
                            <span class="material-icons rupee-icon">
                                currency_rupee
                            </span>
                            <h3 class="card-price">2000</h3>
                        </div>
                        <button class="card-btn">Move to cart</button>
                    </div>
                    
                </div>
                <div class="fav-back"></div>
                <span class="material-icons card-fav fav-red">
                    favorite
                </span>
            </div>

            <div class="card-container">
                <div class="card-1">
                    <img class="card-img" src="/assets/img/card-img.jpg" />
                    <div class="card-container-content">
                        <h5 class="card-content">Men premium Jacket</h5>
                        <div class="card-pricing"> 
                            <span class="material-icons rupee-icon">
                                currency_rupee
                            </span>
                            <h3 class="card-price">2000</h3>
                        </div>
                        <button class="card-btn">Move to cart</button>
                    </div>
                    
                </div>
                <div class="fav-back"></div>
                <span class="material-icons card-fav">
                    favorite_border
                </span>
            </div>

            <div class="card-container">
                <div class="card-1">
                    <img class="card-img" src="/assets/img/card-img.jpg" />
                    <div class="card-container-content">
                        <h5 class="card-content">Men premium Jacket</h5>
                        <div class="card-pricing"> 
                            <span class="material-icons rupee-icon">
                                currency_rupee
                            </span>
                            <h3 class="card-price">2000</h3>
                        </div>
                        <button class="card-btn">Move to cart</button>
                    </div>
                    
                </div>
                <div class="fav-back"></div>
                <span class="material-icons card-fav fav-red">
                    favorite
                </span>
            </div>

            <div class="card-container">
                <div class="card-1">
                    <img class="card-img" src="/assets/img/card-img.jpg" />
                    <div class="card-container-content">
                        <h5 class="card-content">Men premium Jacket</h5>
                        <div class="card-pricing"> 
                            <span class="material-icons rupee-icon">
                                currency_rupee
                            </span>
                            <h3 class="card-price">2000</h3>
                        </div>
                        <button class="card-btn">Move to cart</button>
                    </div>
                </div>
                <div class="fav-back"></div>
                <span class="material-icons card-fav">
                    favorite_border
                </span>
                
            </div>

            <div class="card-container">
                <div class="card-1">
                    <img class="card-img" src="/assets/img/card-img.jpg" />
                    <div class="card-container-content">
                        <h5 class="card-content">Men premium Jacket</h5>
                        <div class="card-pricing"> 
                            <span class="material-icons rupee-icons">
                                currency_rupee
                            </span>
                            <h3 class="card-price">2000</h3>
                        </div>
                        <button class="card-btn">Move to cart</button>
                    </div>
                    
                </div>
                <div class="fav-back"></div>
                <span class="material-icons card-fav fav-red">
                    favorite
                </span>
            </div>
        </div>
            
    </div>

</body>
</html>