@import "/assets/css/reset.css";
@import "/assets/css/nav.css";

.container {
  height: 100%;
  display: grid;
  grid-gap: 4rem;
  padding-top: 4rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 25rem 65rem 25rem;
  grid-template-areas:
    ". u1 u1 u2 u2 u3 u3 u4 u4 u5 u5 ."
    ". m m m m m m m m m m ."
    ". l1 l1 l1 l1 l1 l2 l2 l2 l2 l2 .";
}

.upper-section-1 {
  grid-area: u1;
  margin-top: 2rem;
  position: relative;
}

.upper-section-2 {
  grid-area: u2;
  margin-top: 2rem;
  position: relative;
}

.upper-section-3 {
  grid-area: u3;
  margin-top: 2rem;
  position: relative;
}

.upper-section-4 {
  grid-area: u4;
  margin-top: 2rem;
  position: relative;
}

.upper-section-5 {
  grid-area: u5;
  margin-top: 2rem;
  position: relative;
}

.upper-image {
  height: 23rem;
  width: 100%;
  object-fit: cover;
}

.upper-btn {
  width: 100%;
  height: 3.5rem;
  position: absolute;
  top: 10rem;
  left: 0rem;
  border: none;
  background-color: white;
}

.mid-main {
  grid-area: m;
  background-color: #d3d3d3;
}

.main-image {
  height: 65rem;
  width: 100%;
  object-fit: cover;
}

.lower-section-1 {
  grid-area: l1;
  border: 1px solid #d3d3d3;
  width: 100%;
}

.lower-section-2 {
  grid-area: l2;
  border: 1px solid #d3d3d3;
}

.lower-card-img {
  height: 20rem;
  width: 16rem;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}

.lower-card {
  display: flex;
}

.lower-card-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2.2rem;
  padding-left: 2rem;
}

.lower-content-1 {
  font-size: 1.5rem;
  font-weight: 300;
}

.lower-content-2 {
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 5rem;
}

.content-2 {
  font-size: 1.2rem;
  font-weight: 300;
}

@media only screen and (max-width: 900px) {
  .container {
    height: 100%;
    display: grid;
    grid-gap: 3rem;
    padding-top: 4rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 18rem 65rem 25rem 25rem;
    grid-template-areas:
      ". u1 u1 u2 u2 u3 u3 u4 u4 u5 u5 ."
      ". m m m m m m m m m m ."
      ". l1 l1 l1 l1 l1 l1 l1 l1 l1 l1 ."
      ". l2 l2 l2 l2 l2 l2 l2 l2 l2 l2 .";
  }

  .upper-image {
    height: 15rem;
  }

  .upper-btn {
    max-width: 13rem;
    height: 2.5rem;
    position: absolute;
    top: 6.5rem;
    left: 0rem;
    border: none;
    background-color: white;
  }
}

@media only screen and (max-width: 640px) {
  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 6rem;
  }

  .logo {
    height: 5rem;
    width: 5rem;
  }

  .search-bar {
    width: 18rem;
  }

  .upper-image {
    height: 9rem;
  }

  .container {
    height: 100%;
    display: grid;
    grid-gap: 3rem;
    padding-top: 4rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 12rem 65rem 25rem 25rem;
    grid-template-areas:
      ". u1 u1 u2 u2 u3 u3 u4 u4 u5 u5 ."
      ". m m m m m m m m m m ."
      ". l1 l1 l1 l1 l1 l1 l1 l1 l1 l1 ."
      ". l2 l2 l2 l2 l2 l2 l2 l2 l2 l2 .";
  }

  .upper-btn {
    max-width: 8.2rem;
    height: 2.2rem;
    position: absolute;
    top: 3.8rem;
    left: 0rem;
    border: none;
    background-color: white;
  }
}

@media only screen and (max-width: 340px) {
  .container {
    height: 100%;
    display: grid;
    grid-gap: 3rem;
    padding-top: 4rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10rem 65rem 25rem 25rem;
    grid-template-areas:
      ". u1 u1 u2 u2 u3 u3 u4 u4 u5 u5 ."
      ". m m m m m m m m m m ."
      ". l1 l1 l1 l1 l1 l1 l1 l1 l1 l1 ."
      ". l2 l2 l2 l2 l2 l2 l2 l2 l2 l2 .";
  }

  .upper-image {
    height: 7rem;
    max-width: 3rem;
  }

  .lower-content-2 {
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content-1 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 5rem;
  }

  .content-2 {
    font-size: 1rem;
    font-weight: 300;
  }

  .upper-btn {
    width: 3rem;
    height: 2rem;
    position: absolute;
    top: 3rem;
    left: 0rem;
    border: none;
    background-color: white;
  }

  .lower-content-1 {
    font-size: 1rem;
  }

  .content-1 {
    font-size: 1.2rem;
  }
}
