@import "/assets/css/reset.css";

.my-cart-text {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.quantity-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-counter {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  padding-top: 2px;
  border: 1px solid var(--grey);
  background-color: var(--white);
  margin-left: 5px;
  margin-right: 5px;
  line-height: 1rem;
}

.quantity-count {
  width: 1.5vw;
  height: 2vh;
  border: 1px solid var(--grey);
}

.card-2 {
  background-color: var(--white);
}

.cart-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--back-grey);
}

.product-bill {
  min-width: 80vh;
  gap: 3rem;
  height: 40vh;
  display: flex;
}

.cart-bill {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100%;
  padding: 3rem;
}

.product-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-wrapper {
  width: 25vw;
  height: 100%;

  background-color: var(--white);
}

.price-detail {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.product-count {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cart-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-rupee {
  font-size: 1.2rem;
  font-weight: 400;
}

.total-amount {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

.product-rupee-bold {
  font-size: 1.3rem;
  font-weight: 700;
}

.savings-text {
  display: flex;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bill-rupee-icon {
  font-size: 1.3rem;
  font-weight: 400;
}

.total-rupee-icon {
  font-size: 1.5rem;
  font-weight: 600;
}

.last-text {
  padding-left: 4px;
}

.order-btn {
  background-color: var(--login-blue);
  color: var(--white);
  height: 3rem;
  border: none;
  font-size: 1.2rem;
  margin-top: 1rem;
}
