@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");
@import "https://highfi-ui.netlify.app/assets/css/main.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #2b0e64;
  --secondary-color: #a2ffb9;
  --tertiary-color: #5e17eb;
  --grey: #b2b2b2;
  --back-grey: #f5f5f5;
  --black-shade: rgba(0, 0, 0, 0.16);
  --white: white;
  --red: red;
  --login-blue: #3b82f6;
  --background-color: #f8f8f8;
}

.display-column {
  display: flex;
  flex-direction: column;
}

.display-space-between {
  display: flex;
  justify-content: space-between;
}
